:root {
  --whiteColor: #dfe6e9;
  --blackColor2: rgb(36 36 36 / 1);
  --blackColor: rgb(20, 20, 20);
  --redColor: #d63031;
  --yellowColor: #fdcb6e;
  

}

body {
  margin: 0;
  background-color: var(--blackColor);
  font-family: var(--font-montserrat);
  margin-top: 80px;
  
  
}

a {
  color: var(--whiteColor);
}



 

h1 {
  font-size: 72px;
}

h2 {
  font-family: var(--font-great_Vibes);
  color: var(--yellowColor);
  font-weight: 500;
  font-size: 72px;
}
